<% last, today, next_occur = Commit.get_occurrence_of(@commit.goal) %>

$('#goal-<%= @commit.goal_id %> .today-occur').replaceWith("<div class='occur last-occur'><%= j send(@commit.goal.describe_today_occur, @commit.goal, today) %></div>")