.row
  %h2 Payment not successful.

- if flash[:error].present?
  .row
    .alert.alert-danger(role='alert')
      = flash[:error]
.row
  %p There have been problems processing the payment. Your payment account was not charged.
  %p Please try again...
