%p Dear #{ @user.to_s }:
%br 
%p= @text
 
%p
  - if @user.checkin_with == 'twitter'
    Tweet us @upmit and include the hash tag of your commitments to check in.
  - elsif @user.checkin_with == 'facebook'
    Mention our page @upmit and include the hash tag of your commitments to check in.
  
  To see the details, please follow this link: #{ @url }.
 
%p  Check in the commitments and earn your money back!