.jumbotron
  %h2 Welcome to Upmit!
  
  %p We are here to help you to achieve difficult goals about yourself.
  
  %p
    Create your first goal here.
    %a.btn.btn-primary(href='#{ new_goal_path }' role="button")
      %i.fa.fa-plus
      New Goal
  
  - if current_user.goals.inactive.present?
    %p
      Or,
      = link_to 'make deposit', '/deposit'
      for the pending ones.