- @title = 'I Will Start A New Habit'

- @body_class = 'landing'
- @no_nav = 'true'

.landing-wrapper
  = link_to (image_tag(asset_path('logo-lg.png'), class: 'logo')), root_path

  .box
    %h2 Your goal: I Will Start A New Habit
    
    %h3 Create the goal and make a deposit for $1 a day. Start by doing it everyday and check in to earn your money back.
    
    .button
      %a.btn.btn-primary.bgn-lg(href='/goals/new?title=start%20doing%20the%20new%20habit')
        Sign in and Create the goal