
- @body_class = 'login'
  
.background-image-overlay


.login-wrapper
  = link_to (image_tag(asset_path('logo-lg.png'), class: 'logo')), root_path
  

  
  .box
    .content-wrap
      %h3 Sign in
      
      .connect= link_to image_tag(asset_path('twitter.png')) + 'Sign in with Twitter', user_omniauth_connect_path(:twitter), class: 'btn-glow primary'
      .connect= link_to image_tag(asset_path('facebook.png')) + 'Sign in with Facebook', user_omniauth_connect_path(:facebook), class: 'btn-glow primary'
      
      
      .desc
        %p
          Your credential will be
          %strong only
          used for
        %ul
          %li signing you in,
          %li receiving reminders,
          %li tracking your check-in tweets.
        %p.post 
          We will 
          %strong not
          post on your behalf.
        

  %p.help-block
    Integration with other social platforms, e.g. Facebook,
    %br
    is coming soon.

