Hi there,

Please verify my AWS account so I can use your Route 53 and CloadFront.

We are working on the site and it will be on: https://upmit.com.

I am writing to you from: jeremy@upmit.com

My AWS account email is: upcommit@gmail.com

Thanks for your help.
Jeremy Yang