@import shared

.new_deposit
  .title
    img
      +opacity(0.8)
      margin: 0 0 10px 0
      
  .goal
    margin: 50px 0 30px 0
  
    h4
      small
        font-size:  14px
  
  .cal
    position: relative
    margin-bottom: 20px
    
    .number
      font-style: italic
      
      i
        font-style: italic
    
    &#total
      border-top: 1px solid #999
      padding-top: 20px
      
      .number
        strong
          font-size:  18px
          color: #32a0ee
    
    .number,
    .note
      font-size:  16px
      
      span
        position: absolute
        
        right: 4em
        
  .paypal
    form
      margin-bottom: 2px
  
    small
      color:  #aaa