@import shared

#pad-wrapper.deposit-index
  .alert
    p
      margin: 0
      padding: 5px 0
  
    &.alert-warning
      a.normal
        color: #8A6D3B
    
    &.alert-info
      a.normal
        color: #31708F
  
  span
    font-weight: 600
  
  .goal
    padding: 15px 0
    
    a
      font-weight: 600
  
  .head
    clear: left
    margin-bottom: 30px
    
    &.lower
      padding-top: 20px
    
    
  .total
    margin: 0 -15px
    
    font-size: 1.1em
    
    .detail
      position: absolute
      top: -1px
      right: 0
    
      margin-right: 45px
      

    
    .col-md-2
      text-align: right
      
  .current
    .col-md-2
      text-align: right
  
  .line-break
    margin: 30px 0 40px
  
    
  h4.history
    margin-bottom: 20px
    
  
  .refund-total
    
    .col-md-2
      text-align: right
      
    .list
      i
        +transition-property(all)
        +transition-duration(0.3s)
      
  .row.history
    display: none
  
    .col-md-2
      text-align: right
    

  

@media (min-width: 992px)
  #pad-wrapper.deposit-index
    .line-break
      margin-right: 30px

#pad-wrapper.new-deposit
  position: relative
  
  .board
    position: absolute
    
    left: 50px
    top: 60px
    
    
    .goal
      padding: 15px
    
      border: 2px solid #aaa
      +border-radius(6px)
    
    h4
      margin: -30px 0 0 33%
      padding: 0 15px
      
      float: left
      
      background: #fff
      font-style: normal
      font-weight: 600
    
    p.desc
      clear: left
      
    p
      margin: 0
      font-size: 15px
      color: #666
      
      line-height: 1.6em
      
      span
        font-weight: 600
        
    .alert
      text-align: left
      border-width: 2px
      border-color: #A7D0D7
      margin-top: 15px
      font-size: 13px
      padding: 10px
        
  
  .title
    padding: 30px 0 50px
    
    h2
      margin-top: 10px
    
      color: #444
      font-size: 2em
  
  .liner
    border-top: 1px solid #999
    padding-top: 20px
      
  .cal
    margin-bottom: 20px
    
    .number
      font-style: italic
      font-size:  18px
      
      i
        font-style: italic
    
    .money
      color: #32a0ee
    
    .note
      font-size:  16px
      
      small
        margin-left: 10px
        color: #7d848c
    
    .number,
    .note
      span
        position: absolute
        
        right: 5em
        
  .paypal
    margin-top: 40px
  
    .small
      padding-left: 30px
    
      font-size: 13px
      color: #7d848c
      
    .button
      padding-top: 12px
    
@media (max-width: 767px)
  #pad-wrapper.new-deposit
    .board
      position: relative
    
      left: 0
      top: 0
      
      .goal
        border: none
      
      .alert
        border-width: 1px
        margin-left: -30px
      
      h4
        margin: 0
        padding: 0 0 15px
        
        color: #444
        font-size: 1.8em
        float: none
        text-align: center
    
    .liner
      margin: 0 15px

@media (max-width: 991px)
  #pad-wrapper.new-deposit
    .board
      left: 15px
      top: 30px


#pad-wrapper.refund-deposit
  h2
    margin: 28px 0 15px
    
  .goal
    margin-bottom: 50px
    
  .amounts
    line-height: 1.8em
    
    span
      font-weight: 600
      padding: 0 2px
      
  .refund
    margin: 45px 15px 10px
    
    font-size: 1.5em
    span
      color: #32a0ee
      font-weight: 600
      padding: 0 15px 0 5px
      font-style: normal      
      
    .total
      display: inline-block
      
    form
      display: inline-block
        
      input
        margin-top: -5px
    
        font-size: 0.8em
        padding: 10px 20px
  
  .payer
    span
      font-weight: 600
      
      
