@import shared

// Main stats up of screen
#main-stats
  background-color: #fdfdfd
  border-bottom: 1px solid #efeef3

  .stats-row
    box-shadow: inset -1px 0px 5px 2px #f9f9f9
    margin: 0
    
    .stat
      text-align: center
      padding: 20px 0px
      border-right: 1px solid #e8e9ee
      box-shadow: 1px 0px 0px 0px white

      &.last
        border-right: 0px
      
      .data
        color: #29323a
        text-transform: uppercase
        font-weight: 600
        font-size: 16px
        
        .number 
          color: #32a0ee
          font-size: 24px
          margin-right: 5px 
        
      
      .date
        margin-left: 50px
      
        color: rgb(180, 184, 187)
        font-weight: lighter
        font-family:  'Lato', 'Open Sans'
        font-style: italic
        font-size: 13px


.section
  border-top: 1px solid #edeff1
  margin-top: 45px
  padding-top: 45px
  box-shadow: inset 0px 3px 4px -1px #fafafa
  

/* UI elements section
#pad-wrapper
  .row
    &.top
      margin: 50px -15px 0 -15px
      
      position: relative
      
      a
        position: absolute
        
        top: -5px
        // right: 15px
  
    .active-goal
      display: table
      width: 100%
      padding: 25px 0
      
      +border-radius(6px)
      border: 1px solid #fff
      
      +transition-property(all)
      +transition-duration(0.4s)
      
      +opacity(0.9)
      
      a:hover
        text-decoration: none
        
        .title
          text-decoration: underline
      
      .info,
      .occurs,
      .prog
        float: none
        display: table-cell
        vertical-align: middle
      
      .info
        padding-left: 15px
      
        text-align: center
      
        .legend
          margin-bottom: 10px
          
          +opacity(0.9)
        
        .title
          font-size: 15px
          font-weight: 600
          margin-bottom: 2px
        
        .freq
          color: #999
          font-style: italic
          text-decoration: none
          font-size: 12px
      
      .occurs
        padding: 0 30px
        
        
        .label
          padding: 0.1em 0.5em 0.2em
          margin-right: .5em
          
          font-size: 12px
          
          &.label-default
            background: #999
        
        .occur
          padding: 0
          
          line-height: 2em
          
          
          &.report
            color: #999
            font-size: 12px
        
          .check_in
            display: none
          
            margin-left: 10px
            
            .btn
              padding: 3px 8px
              
              font-size: 12px
              
              +transition-property(all)
              +transition-duration(0.5s)
          
          i
            margin-right: 3px
            
            &.fa-check
              color: green
            &.fa-times
              color: red
              
      .prog
        text-align: center
        
        font-size: 16px
        
        color: #999
        
        .past
          font-size: 22px
          font-weight: 600
          color: #32a0ee
          
        .total
          font-style: italic
          
      
      &:hover
        border-color: #e0e0e0
        background: #f9f9f9
        
        +opacity(1)
        
        .legend
          margin: -1px 0 11px 0
          
          +opacity(1)
        
        .occur
          span.label
            
          .check_in
            display: inline-block
  
    h4
      margin: 0 0 25px 0
    
      
    .goal
      margin: 15px 0
      text-align: center
      
      .donut
        width: 180px
        margin: 0 auto


/* responsive

@media (max-width: 480px)

@media (max-width: 768px)
  #main-stats
    margin-left: -15px
    margin-right: -15px
    
  #pad-wrapper
    .row.top
      a
        right: 15px

@media (min-width: 768px)
  #main-stats
    margin: -55px -50px 0 -50px
    
  .row.top
    a
      right: 50px
  
@media (max-width: 979px)
  #main-stats .stat .data
    padding-right: 17px
    .number
      font-size: 18px
  #pad-wrapper .knob-wrapper .info
    display: none
  .pointer
    top: 5%
  .table-products .head
    margin-bottom: 20px

@media (min-width: 980px)
  #pad-wrapper .ui-elements .knob-wrapper + .knob-wrapper
    margin-left: 5px

@media (min-width: 1200px)
  #pad-wrapper .ui-elements
    .showcase
      width: 53%
    .knob-wrapper + .knob-wrapper
      margin-left: 35px
