%p Hello #{ @resource.first_name }!
%br
%p We received the instruction to reset your password. You can change your password through the link below.

%p= link_to 'Reset my password', edit_password_url(@resource, reset_password_token: @token)

%p 
  If you didn't request to reset your password, please ignore this email.
  %br
  Your password won't be changed until you access the link above and create a new one.
